set showmode
set ideajoin
set showcmd
set surround
set easymotion
set commentary
set clipboard+=unnamed
set clipboard+=ideaput
set ReplaceWithRegister
set idearefactormode=keep
set number relativenumber

let mapleader = " "

nnoremap <leader>R :action RenameElement<CR>
:map <leader>r <Action>(ReformatCode)

" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>d <C-d>
vmap <leader>u <C-u>

" actions
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>bd <action>(CloseEditor)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>s <action>(QuickChangeScheme)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nnoremap <leader><leader> <C-Tab>


