source ~/.vimrc
set showmode
set ideajoin
set showcmd
nnoremap <leader>R :action RenameElement<CR>
nnoremap <leader>r :action Run<CR>
nnoremap <leader>fc :action flutter.clean<CR>
nnoremap <leader>fr :action Flutter.Toolbar.RestartAction<CR>
nnoremap <leader>fpg :action flutter.pub.get<CR>
